OWNER_NAME="Nathaniel"
PREFIX="."
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "FLASH-MD"
IMAGE_MENU= "https://imgur.com/a/9QY552f"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Nathaniel᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
